@import "vars";

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $mobile + 1) {
    @content;
  }
}

@mixin container {
  display: grid;
  justify-content: center;
  gap: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

@mixin card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 8px;
  width: 730px;
  padding: 48px;

  .closeModalIcon {
    cursor: pointer;
    svg {
      path {
        &:hover {
          fill: black;
        }
      }
    }
  }

  p {
    line-height: 30px;
    font-size: 1rem;
    color: $dark-grey;
  }

  @include mobile {
    padding: 40px 24px;
    width: 325px;
  }
}
