@import "vars";

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin container {
  display: grid;
  justify-content: center;
  gap: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
