// Viewport widths
$mobile: 475px;
$desktop: 1440px;

// Colors
$moderate-cyan: #3cb4ac;
$dark-cyan: #147b74;
$black: #000;
$dark-grey: #7a7a7a;

// Font weights
$regular: 400;
$medium: 500;
$bold: 700;
