// Viewport widths
$mobile: 480px;
$desktop: 1440px;

// Colors
$moderate-cyan: #3cb3ab;
$dark-cyan: #147b74;
$black: #000;
$dark-grey: #7a7a7a;
$light-grey: rgb(245, 245, 245);

// Font weights
$regular: 400;
$medium: 500;
$bold: 700;
