@import "../styles/mixins";
@import "../styles/vars";

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 8px;
  width: 730px;
  padding: 48px;

  p {
    line-height: 24px;
    font-size: 0.875rem;
    color: $dark-grey;
  }

  @include mobile {
    padding: 40px 24px;
    width: 325px;
  }
}

#productName {
  height: 284px;
  text-align: center;
  padding-bottom: 69px;

  @include mobile {
    padding-bottom: 48px;
  }

  .logo {
    position: relative;
    bottom: 28%;
    @include mobile {
      position: relative;
      bottom: 13%;
    }
  }

  .header {
    font-size: 1.75rem;
    @include mobile {
      width: 200px;
      font-size: 1.25rem;
    }
  }

  .description {
    margin-bottom: 40px;
    margin-top: 16px;

    @include mobile {
      margin-bottom: 24px;
      margin-top: 16px;
    }
  }

  .buttons {
    @include mobile {
      display: grid;
      grid-auto-flow: column;
      gap: 9px;
      padding-bottom: 40px;
    }

    display: flex;
    justify-content: space-between;
    width: 100%;

    .bookmark {
      .desktopVersion {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: $light-grey;
        border-radius: 33.5px;
        width: 174px;
        cursor: pointer;

        &:hover {
          svg {
            g {
              circle {
                fill: #707070;
              }
            }
          }
        }

        span {
          position: relative;
          right: 20px;
          bottom: 3px;
          color: $dark-grey;
          font-weight: $bold;
        }
      }
    }
  }
}

#productProgress {
  @include mobile {
    h2 {
      margin-bottom: 9px;
      font-size: 2rem;
    }

    p {
      margin-bottom: 24px;
    }

    hr {
      width: 80px;
      height: 1px;
      opacity: 0.15;
      mix-blend-mode: normal;
      margin-bottom: 24px;
    }
  }
}
