@import "../styles/mixins";
@import "../styles/vars";

.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 1; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */

  .window {
    background: white;
    width: 200px;
    height: 200px;
  }
}
