@import "../styles/vars";
@import "../styles/mixins";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
  mix-blend-mode: normal;
  opacity: 0.6;

  padding: 48px 166px;

  @include mobile {
    padding: 32px 24px;
  }
  color: white;

  .hamburgerContainer {
    display: none;
    @include mobile {
      display: block;
    }
  }

  .links {
    display: grid;
    gap: 32px;
    grid-auto-flow: column;

    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    @include mobile {
      display: none;
    }
  }
}
